form {
margin-top: 20px;
margin-bottom: 15px;
}

ul.dateTime {
  list-style: none;
  padding-left: 0;
  color: #273F73;
}

ul.temperature {
  list-style: none;
  padding-left: 0;
  margin-bottom: 15px;
  color: #273F73;
}

ul.weather-data {
  list-style: none;
  color: #273F73;
}