ul.dateTime {
  list-style: none;
  padding-left: 0;
  color: blue;
}

ul.temperature {
  list-style: none;
  padding-left: 0;
  margin-bottom: 15px;
  color: purple;
}

ul.weather-data {
  list-style: none;
  color: green;
}